nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    padding: 15px 0px;
}

/* 水平菜单布局 */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}

/* 菜单项样式 */
nav a {
    color: #b3b1b1;
    text-decoration: none;
    font-family: "Microsoft Yahei";;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* 悬停交互效果 */
nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #ffd700;
}